@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: radial-gradient(134.34% 134.34% at 50% 0%, #1F3757 0%, #131537 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Barlow Semi Condensed', sans-serif;
}


.container {
  width: 600px;
  max-width: 100%;
  margin: 0 auto;
}
.box {
  border: 3px solid rgba(255, 255, 255, 0.289199);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  margin: 60px 0;
}

.box__score {
  background: linear-gradient(0deg, #f3f3f3 0%, #fff 100%);
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.196706);
  border-radius: 10px;
  text-align: center;
  padding: 12px 10px;
  cursor: pointer;
}
.box__desc {
  letter-spacing: 1.8px;
  color: #2a45c2;
  text-transform: uppercase;
}
.box__num {
  font-size: 50px;
  font-weight: 700;
  color: #565468;
}
.box__title {
  color: #fff;
  font-size: 35px;
  font-weight: 700;
  text-transform: uppercase;
}
.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  position: relative;
}

.main::before {
  content: '';
  display: block;
  position: absolute;
  background-image: url(../imgs/tringle.svg);
  background-repeat: no-repeat;
  width: 254px;
  height: 190px ;
  background-size: cover;
  z-index: -1;
}

.main__btn {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: none;
  box-shadow: inset 0 -5px rgba(0, 0, 0, 0.15);
  margin: 10px 40px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.main__btn:hover {
  transform: scale(1.2);
}

.paper {
  background-color: #4664f4;
}
.scissors {
  background-color: #eb9f0e;
}
.fist {
  background-color: #db2e4d;
}

.main__back {
  width: 140px;
  height: 140px;
  background: linear-gradient(0deg, #f3f3f3 0%, #dadada 98.34%);
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.flex__btn {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: none;
  box-shadow: inset 0 -5px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: all 0.5s ease;
}

.flex__btn:hover {
  transform: scale(1.2);
}

.flex__back {
  width: 140px;
  height: 140px;
  background: linear-gradient(0deg, #f3f3f3 0%, #dadada 98.34%);
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.btn {
  border: 2px solid #fff;
  border-radius: 10px;
  background-color: #fff;
  color: #131537;
  font-size: 18px;
  font-family: inherit;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 10px 25px;
}

.flex {
  display: none;
  align-items: center;
  justify-content: space-between;
}
.check {
  font-family: 'Press Start 2P', cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  font-size: 40px;
  margin-top: 90px;
  color: #fff;
}
.game {
  margin-bottom: 50px;
}
#win {
  display: none;
}
#lose {
  display: none;
}


@media screen and (max-width: 520px) {
  /* .box {
    display: block;
  } */
  
  .box__num {
    font-size: 30px;
  }
  .box__title {
    text-align: center;
    margin: 20px 0;
  }
  .main__btn {
    width: 100px;
    height: 100px;
  }
  .main__back {
    width: 80px;
    height: 80px;
  }
  .main::before {
    width: 200px;
    height: 170px;
  }

  .flex__btn {
    width: 100px;
    height: 100px;
  }
  .flex__back {
    width: 80px;
    height: 80px;
  }

  .img {
    width: 60px;
    height: 60px;
  }
  .box__score {
    padding: 10px;
  }
  .btn {
    padding: 10px;
  }
  .check {
    font-size: 35px;
  }
}

